root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{cs,csx}]
indent_size = 4
# C# kod stili
csharp_new_line_before_open_brace = all
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_var_for_built_in_types = true:suggestion
dotnet_sort_system_directives_first = true
dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning

[*.{csproj,props,targets,config,xml}]
indent_size = 2

[*.{sln}]
end_of_line = crlf
indent_style = tab

[*.{ps1,cmd,bat}]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[*.{sql,lua}]
indent_size = 2

[*.py]
indent_size = 4
